<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは" %>
        <%#= link_to "#{current_user.name}", user_path(@prototype.user), class: :greeting__link %>
        <%= link_to "#{current_user.name}", user_path(current_user), class: :greeting__link %>
        <%# <%= link_to "#{current_user.name}",  user_registration_path, class: :greeting__link %>
      </div>
      <% else %> 
      <div class="grid-6">
            <%= link_to "", new_user_session_path, class: "post" %>
            <%= link_to "", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "prototype", collection: @prototypes %>
    </div>
  </div>
</main>
